/*
	Syntax:

	selector {
		property: value; <---- deckaration
		}

	selectors= id, class, tag, universal
	
	id= #
	class= .
	tag= tagName
	universal= * <---- targets all elements

*/

* {
	font-family: "Roboto" , sans-serif;
}

h1, h3 {
	font-family: "Montserrat", sans-serif;
}

img {
	height: 250px;
	width: 250px;
	border: 5px solid gray;
	border-radius: 100%;
}

#landing {
	/* vh- viewport height --> determined or measured percentrage 
	of the height of the device you are viewing your webpage in */
	height: 80vh;
	/* flexbox --> allows us to arrange or layout element inside our
	landing section horizontally and vertically
	by default, display: flex; arranges elements inside the parent
	element */
	display: flex;
	/*flex-direction: column; --> arranges flex items into a column*/
	flex-direction: column;
	/* align-items: center; --> arranges all flex items to be 
	centered horizontally */
	align-items: center;
	/* justify-content: center; --> arranges elements horizontally
	if the flex items are in a row however, it arranges elements
	vertically if the flex items are in column */
	justify-content: center;
}

.jumbotron {
	/* targeted 'class' jumbotron */
	background-color: transparent;
}

#gallery {
	/* targeted 'id' gallery */
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFF08D;
	border-radius: 6px;
}

ul {
	/* list-style: none; --> to remove bullets 
	ul tag has to be targeted */
	list-style: none;
	padding: 0;
}

h3 {
	/* targeted 'tag' h3 */
	color: #007bff;
}

.tools {
	/* targeted 'class' tools */
	border: 5px solid #f2f2f2;
	/* margin--> space outside the element */
	margin: 20px;
	/* padding --> space inside the element */
	padding: 25px;

	height: 200px;
	/* percentage as measurement for width base on the total width of the
	parent element */
	width: 75%;
}

/* makes the scrolling of page smooth */
html {
	scroll-behavior: smooth;
}